/* App.css */

/* 전체 애플리케이션의 기본 스타일 설정 */
html, body {
  height: 100%; /* html과 body의 높이를 100%로 설정 */
  margin: 0; /* 기본 마진을 제거 */
  padding: 0; /* 기본 패딩을 제거 */
  background-color: #f4f4f4; /* 전체 배경색을 #f4f4f4로 설정 */
  font-size: 18px;
}

.app {
  font-family: Arial, sans-serif; /* 전체 폰트 Arial 설정 */
  background-color: #f4f4f4; /* 배경색 밝은 회색 */
  padding: 20px; /* 전체 패딩 20px */
  min-height: 100vh; /* 뷰포트의 최소 높이를 100%로 설정하여 페이지가 전체 화면을 차지하게 함 */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
}

/* 메인 콘텐츠 영역의 레이아웃 설정 */
.main-content {
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 중앙 정렬 */
  max-width: 1200px; /* 최대 너비 1200px */
  margin: 0 auto; /* 상하 좌우 가운데 정렬 */
  margin-top: 60px;
}

/* 차트 영역에 대한 스타일 설정 */
.bandingcurve {
  flex: 1; /* 동일한 비율로 크기를 조정 */
  margin-right: 40px; /* 오른쪽 여백 40px */
}

/* 스왑 폼 영역에 대한 스타일 설정 */
.swap-form {
  flex: 1; /* 동일한 비율로 크기를 조정 */
  margin-left: 40px; /* 왼쪽 여백 40px */
}
